<!DOCTYPE html>
<html>
    <head>
        <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
        <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="//apis.google.com/js/platform.js?onload=start"> </script>
         END PRE-REQUISITES FOR GOOGLE SIGN IN -->
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <meta name="google-signin-client_id" content="{{ client_id }}.apps.googleusercontent.com">

        <script type="text/javascript">
            function onSignIn(googleUser) {
                var profile = googleUser.getBasicProfile();
                console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
                console.log('Name: ' + profile.getName());
                console.log('Image URL: ' + profile.getImageUrl());
                console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
            }
            function signOut() {
                var auth2 = gapi.auth2.getAuthInstance();
                auth2.signOut().then(function () {
                console.log('User signed out.');
                });
            }
        </script>
          
    </head>

    <body>  
        
        poo
        <div class="g-signin2" data-onsuccess="onSignIn"></div>

        <!-- Udacity supplied Google+ sign in button doesn't work
        <div id="signinButton">
            <span class="g-signin"
                data-scope="openid email"
                data-clientid="144667492319-qech66m65ejvotbur4kaq7jej11cmpv6.apps.googleusercontent.com"
                data-redirecturi="postmessage"
                data-accesstype="offline"
                data-cookiepolicy="single_host_origin"
                data-callback="signInCallback"
                data-approvalprompt="force">
            </span> -->
        </div>
    </body>
</html>